<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a id="home" class="nav-link" href="/">Country View</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="stateMenu" role="button" data-bs-toggle="dropdown">
            State View
          </a>
          <ul class="dropdown-menu columns" aria-labelledby="stateMenu">
            <li><a class="dropdown-item" href="/state/Alabama">Alabama</a></li>
            <li><a class="dropdown-item" href="/state/Alaska">Alaska</a></li>
            <li><a class="dropdown-item" href="/state/Arizona">Arizona</a></li>
            <li><a class="dropdown-item" href="/state/Arkansas">Arkansas</a></li>
            <li><a class="dropdown-item" href="/state/California">California</a></li>
            <li><a class="dropdown-item" href="/state/Colorado">Colorado</a></li>
            <li><a class="dropdown-item" href="/state/Connecticut">Connecticut</a></li>
            <li><a class="dropdown-item" href="/state/Delaware">Delaware</a></li>
            <li><a class="dropdown-item" href="/state/Florida">Florida</a></li>
            <li><a class="dropdown-item" href="/state/Georgia">Georgia</a></li>
            <li><a class="dropdown-item" href="/state/Hawaii">Hawaii</a></li>
            <li><a class="dropdown-item" href="/state/Idaho">Idaho</a></li>
            <li><a class="dropdown-item" href="/state/Illinois">Illinois</a></li>
            <li><a class="dropdown-item" href="/state/Indiana">Indiana</a></li>
            <li><a class="dropdown-item" href="/state/Iowa">Iowa</a></li>
            <li><a class="dropdown-item" href="/state/Kansas">Kansas</a></li>
            <li><a class="dropdown-item" href="/state/Kentucky">Kentucky</a></li>
            <li><a class="dropdown-item" href="/state/Louisiana">Louisiana</a></li>
            <li><a class="dropdown-item" href="/state/Maine">Maine</a></li>
            <li><a class="dropdown-item" href="/state/Maryland">Maryland</a></li>
            <li><a class="dropdown-item" href="/state/Massachusetts">Massachusetts</a></li>
            <li><a class="dropdown-item" href="/state/Michigan">Michigan</a></li>
            <li><a class="dropdown-item" href="/state/Minnesota">Minnesota</a></li>
            <li><a class="dropdown-item" href="/state/Mississippi">Mississippi</a></li>
            <li><a class="dropdown-item" href="/state/Missouri">Missouri</a></li>
            <li><a class="dropdown-item" href="/state/Montana">Montana</a></li>
            <li><a class="dropdown-item" href="/state/Nebraska">Nebraska</a></li>
            <li><a class="dropdown-item" href="/state/Nevada">Nevada</a></li>
            <li><a class="dropdown-item" href="/state/New-Hampshire">New Hampshire</a></li>
            <li><a class="dropdown-item" href="/state/New-Jersey">New Jersey</a></li>
            <li><a class="dropdown-item" href="/state/New-Mexico">New Mexico</a></li>
            <li><a class="dropdown-item" href="/state/New-York">New York</a></li>
            <li><a class="dropdown-item" href="/state/North-Carolina">North Carolina</a></li>
            <li><a class="dropdown-item" href="/state/North-Dakota">North Dakota</a></li>
            <li><a class="dropdown-item" href="/state/Ohio">Ohio</a></li>
            <li><a class="dropdown-item" href="/state/Oklahoma">Oklahoma</a></li>
            <li><a class="dropdown-item" href="/state/Oregon">Oregon</a></li>
            <li><a class="dropdown-item" href="/state/Pennsylvania">Pennsylvania</a></li>
            <li><a class="dropdown-item" href="/state/Rhode-Island">Rhode Island</a></li>
            <li><a class="dropdown-item" href="/state/South-Carolina">South Carolina</a></li>
            <li><a class="dropdown-item" href="/state/South-Dakota">South Dakota</a></li>
            <li><a class="dropdown-item" href="/state/Tennessee">Tennessee</a></li>
            <li><a class="dropdown-item" href="/state/Texas">Texas</a></li>
            <li><a class="dropdown-item" href="/state/Utah">Utah</a></li>
            <li><a class="dropdown-item" href="/state/Vermont">Vermont</a></li>
            <li><a class="dropdown-item" href="/state/Virginia">Virginia</a></li>
            <li><a class="dropdown-item" href="/state/Washington">Washington</a></li>
            <li><a class="dropdown-item" href="/state/West-Virginia">West Virginia</a></li>
            <li><a class="dropdown-item" href="/state/Wisconsin">Wisconsin</a></li>
            <li><a class="dropdown-item" href="/state/Wyoming">Wyoming</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>