<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a id="home" class="nav-link" href="/">Country View</a>
        </li>
        <li class="nav-item dropdown">
          <a id="dropdown-state" class="nav-link dropdown-toggle" id="stateMenu" role="button" data-bs-toggle="dropdown">
            State View
          </a>
          <ul class="dropdown-menu columns" aria-labelledby="stateMenu">
            <li><a id="dropdown-alabama" class="dropdown-item" href="/state/Alabama">Alabama</a></li>
            <li><a id="dropdown-alaska" class="dropdown-item" href="/state/Alaska">Alaska</a></li>
            <li><a id="dropdown-arizona" class="dropdown-item" href="/state/Arizona">Arizona</a></li>
            <li><a id="dropdown-arkansas" class="dropdown-item" href="/state/Arkansas">Arkansas</a></li>
            <li><a id="dropdown-california" class="dropdown-item" href="/state/California">California</a></li>
            <li><a id="dropdown-colorado" class="dropdown-item" href="/state/Colorado">Colorado</a></li>
            <li><a id="dropdown-connecticut" class="dropdown-item" href="/state/Connecticut">Connecticut</a></li>
            <li><a id="dropdown-delaware" class="dropdown-item" href="/state/Delaware">Delaware</a></li>
            <li><a id="dropdown-florida" class="dropdown-item" href="/state/Florida">Florida</a></li>
            <li><a id="dropdown-georgia" class="dropdown-item" href="/state/Georgia">Georgia</a></li>
            <li><a id="dropdown-hawaii" class="dropdown-item" href="/state/Hawaii">Hawaii</a></li>
            <li><a id="dropdown-idaho" class="dropdown-item" href="/state/Idaho">Idaho</a></li>
            <li><a id="dropdown-illinois" class="dropdown-item" href="/state/Illinois">Illinois</a></li>
            <li><a id="dropdown-indiana" class="dropdown-item" href="/state/Indiana">Indiana</a></li>
            <li><a id="dropdown-iowa" class="dropdown-item" href="/state/Iowa">Iowa</a></li>
            <li><a id="dropdown-kansas" class="dropdown-item" href="/state/Kansas">Kansas</a></li>
            <li><a id="dropdown-kentucky" class="dropdown-item" href="/state/Kentucky">Kentucky</a></li>
            <li><a id="dropdown-louisiana" class="dropdown-item" href="/state/Louisiana">Louisiana</a></li>
            <li><a id="dropdown-maine" class="dropdown-item" href="/state/Maine">Maine</a></li>
            <li><a id="dropdown-maryland" class="dropdown-item" href="/state/Maryland">Maryland</a></li>
            <li><a id="dropdown-massachusetts" class="dropdown-item" href="/state/Massachusetts">Massachusetts</a></li>
            <li><a id="dropdown-michigan" class="dropdown-item" href="/state/Michigan">Michigan</a></li>
            <li><a id="dropdown-minnesota" class="dropdown-item" href="/state/Minnesota">Minnesota</a></li>
            <li><a id="dropdown-mississippi" class="dropdown-item" href="/state/Mississippi">Mississippi</a></li>
            <li><a id="dropdown-missouri" class="dropdown-item" href="/state/Missouri">Missouri</a></li>
            <li><a id="dropdown-montana" class="dropdown-item" href="/state/Montana">Montana</a></li>
            <li><a id="dropdown-nebraska" class="dropdown-item" href="/state/Nebraska">Nebraska</a></li>
            <li><a id="dropdown-nevada" class="dropdown-item" href="/state/Nevada">Nevada</a></li>
            <li><a id="dropdown-new-hampshire" class="dropdown-item" href="/state/New-Hampshire">New Hampshire</a></li>
            <li><a id="dropdown-new-jersey" class="dropdown-item" href="/state/New-Jersey">New Jersey</a></li>
            <li><a id="dropdown-new-mexico" class="dropdown-item" href="/state/New-Mexico">New Mexico</a></li>
            <li><a id="dropdown-new-york" class="dropdown-item" href="/state/New-York">New York</a></li>
            <li><a id="dropdown-north-carolina" class="dropdown-item" href="/state/North-Carolina">North Carolina</a></li>
            <li><a id="dropdown-north-dakota" class="dropdown-item" href="/state/North-Dakota">North Dakota</a></li>
            <li><a id="dropdown-ohio" class="dropdown-item" href="/state/Ohio">Ohio</a></li>
            <li><a id="dropdown-oklahoma" class="dropdown-item" href="/state/Oklahoma">Oklahoma</a></li>
            <li><a id="dropdown-oregon" class="dropdown-item" href="/state/Oregon">Oregon</a></li>
            <li><a id="dropdown-pennsylvania" class="dropdown-item" href="/state/Pennsylvania">Pennsylvania</a></li>
            <li><a id="dropdown-rhode-island" class="dropdown-item" href="/state/Rhode-Island">Rhode Island</a></li>
            <li><a id="dropdown-south-carolina" class="dropdown-item" href="/state/South-Carolina">South Carolina</a></li>
            <li><a id="dropdown-south-dakota" class="dropdown-item" href="/state/South-Dakota">South Dakota</a></li>
            <li><a id="dropdown-tennessee" class="dropdown-item" href="/state/Tennessee">Tennessee</a></li>
            <li><a id="dropdown-texas" class="dropdown-item" href="/state/Texas">Texas</a></li>
            <li><a id="dropdown-utah" class="dropdown-item" href="/state/Utah">Utah</a></li>
            <li><a id="dropdown-vermont" class="dropdown-item" href="/state/Vermont">Vermont</a></li>
            <li><a id="dropdown-virginia" class="dropdown-item" href="/state/Virginia">Virginia</a></li>
            <li><a id="dropdown-washington" class="dropdown-item" href="/state/Washington">Washington</a></li>
            <li><a id="dropdown-west-virginia" class="dropdown-item" href="/state/West-Virginia">West Virginia</a></li>
            <li><a id="dropdown-wisconsin" class="dropdown-item" href="/state/Wisconsin">Wisconsin</a></li>
            <li><a id="dropdown-wyoming" class="dropdown-item" href="/state/Wyoming">Wyoming</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>