<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Country View</title>

    <!-- External JS files -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://d3js.org/topojson.v2.min.js"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>


    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/country-view.css" />
  </head>
  <body>
    <div class="country-container">
      <%- include('./partials/navbar.html'); %>

      <!-- Section for the filtering/change views/toggle buttons-->
      <section class="controls-section">
        <div class="vis-options">
          <div id="view-option">
            <label for="vis-option">Select View</label>
            <select class="form-select form-select-sm" name="vis-option" id="vis-option">
              <option id="map" value="map">Map</option>
              <option id="bar" value="bar">Bar Chart</option>
            </select>
          </div>

          <div id="sort-by-container">
            <label for="sort-by">Sort By</label>
            <select class="form-select form-select-sm" name="sort-by" id="sort-by">
              <option value="state">State</option>
              <option value="population">Population</option>
            </select>
          </div>
        </div>

        <div class="data-options">
          <div>
            <input
              type="radio"
              id="radio_1"
              name="radio_buttons"
              value="total-pop"
              checked
            />
            <label for="total-pop">Total Population</label>
          </div>
          <div>
            <input
              type="radio"
              id="radio_2"
              name="radio_buttons"
              value="Rad_2"
            />
            <label for="Rad_2">Button 1 Value</label>
          </div>
          <div>
            <input
              type="radio"
              id="radio_3"
              name="radio_buttons"
              value="Rad_3"
            />
            <label for="Rad_3">Button 1 Value</label>
          </div>
        </div>
      </section>

      <!--Section for the map -->
      <section class="vis-section">
        <div class="visualization">
        </div>
      </section>


      <!-- Section for the slider -->
      <section class="slider-section">
        <div class="slider-container">
          <input type="range" id="slider" class="form-range" />
          <p>Year: <span class="yearOutput"></span></p>
        </div>
      </section>
    </div>

    <script src="js/country.js"></script>
    <script src="js/country-bar-chart.js"></script>
    <script src="js/country-loader.js"></script>
  </body>
</html>