.toggle-section {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.selects {
  margin-left: 3em;
}

.country-container {
  flex: 6;
  width: 100%;
  max-width: calc(120vh);

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-section {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container {
  width: 50%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.state {
  stroke-width: 1;
  stroke: white;
}

.state:hover {
  fill: cadetblue;
  cursor: pointer;
}

.state .selected {
  fill: cadetblue;
}


.visualizationContainer {
  display: flex;
  justify-content: center;
}

.label {
  fill: black;
  font-weight: bold;
  font-size: 14px;
}

.bar {
  fill: lightblue;
  stroke: black;
}

button {
  display: inline-block;
  background-color: #4CAF50; /* Green */
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover {
  background-color: #f7c2f9;
}
button:hover span {
  padding-right: 25px;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}