.country-container {
  flex: 4;
  width: 100%;
  max-width: calc(120vh);

  display: flex;
  justify-content: center;
  align-items: center;
}

.state {
  stroke-width: 1;
  stroke: white;
}

.state:hover {
  fill: cadetblue;
  cursor: pointer;
}

.state .selected {
  fill: cadetblue;
}

.toggleSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visualizationContainer {
  display: flex;
  justify-content: center;
}

.label {
  fill: black;
  font-weight: bold;
  font-size: 14px;
}

.bar {
  fill: lightblue;
  stroke: black;
}