.toggle-section {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.selects {
  margin-left: 3em;
}

.country-container {
  flex: 6;
  width: 100%;
  max-width: calc(120vh);

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-section {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container {
  width: 50%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.state {
  stroke-width: 1;
  stroke: white;
}

.state:hover {
  fill: cadetblue;
  cursor: pointer;
}

.state .selected {
  fill: cadetblue;
}


.visualizationContainer {
  display: flex;
  justify-content: center;
}

.label {
  fill: black;
  font-weight: bold;
  font-size: 14px;
}

.bar {
  fill: lightblue;
  stroke: black;
}