.country-container {
  flex: 4;
  width: 100%;
  max-width: calc(120vh);

  display: flex;
  justify-content: center;
  align-items: center;
}

.state {
  stroke-width: 1;
  stroke: white;
}

.state:hover {
  fill: lightblue;
  cursor: pointer;
}

.state .selected {
  fill: lightskyblue;
}

.toggleSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visualizationContainer {
  display: flex;
  justify-content: center;
}
