html,
body {
  margin: 0px;
}

.columns {
  column-count: 4;
}

.country-container {
  display: grid;
  grid-template-rows: 1fr 2fr 11fr 1fr;
  height: 100vh;
}

/* stylying for the top sectio with the selects/radio buttons */
.controls-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
  padding: 0 2em;
}

.vis-options {
  display: flex;
  flex-direction: column;
}

.data-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* styling for the map and visualization */
.vis-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.visualization {
  flex: 1;
  width: 100%;
  max-width: calc(110vh);
}

.state {
  stroke-width: 1;
  stroke: gray;
}

.state:hover {
  fill: cadetblue;
  cursor: pointer;
}

.bar {
  stroke: black;
}

.bar-positive {
  fill: lightblue;
}

.bar-negative {
  fill: red;
}

text {
  font-size: 9pt;
}

.tooltip {
  position: absolute;
  text-align: center;
  background-color: white;
  color: black;
  padding: 0.5em;
  pointer-events: none;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.zero-y-axis {
  fill: none;
  stroke: black;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

/* sytling for the bottom slider section */
.slider-section {
  display: flex;
  justify-content: center;
}

.slider-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* global styles */
button {
  display: inline-block;
  background-color: #4caf50; /* Green */
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover {
  background-color: #f7c2f9;
}
button:hover span {
  padding-right: 25px;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}
