html, body {
  margin: 0px;
}

.vis-container {
  display: flex;
  height: 100vh;
}

.country-graphs {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.state-graphs {
  background-color: indianred;
  overflow-x: hidden;
  flex: 0;
  transition: 0.5s;
}