html, body {
  margin: 0px;
}

.state-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: 100vh;
}

.main-graph {
  display: grid;
  grid-template-rows: 3fr 15fr 2fr;
  height: 100vh;
}

.controls-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 0 0.5em;
}

.navigation-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-graphs {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.graph1 {
  background-color: lightblue;
}

.graph2 {
  background-color: lightgreen;
}

.graph3 {
  background-color: lightpink;
}