.state {
  stroke-width: 1;
  stroke: green;
}

.state:hover {
  fill: red;
  cursor: pointer;
}

.toggleSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visualizationContainer {
  display: flex;
  justify-content: center;
}
